* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
}

.navbar-container {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}

.main-container {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}

.footer-container {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
}
